.input {
    width:200px;
    padding:20px;
    font-size: 20px;
  }
  

  
  /* ---------------START BUTTONS---------------- */
  .equationType {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
  }
  
  .equationType:hover {background-color: #3e8e41}
  
  .equationType:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
    /* ---------------END BUTTONS---------------- */

  
